.homepage-container{
    background-image: url('/public/codeuplifter-background-image_1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

@media (max-width: 576px){
    .homepage-container{
        background-size: 800px 100vw;
    }
}