.academymotto-container{
    background-color: white;
    padding: 1rem;
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1rem;
    justify-content: center;
    box-shadow: #ACA6FF 0px 13px 27px -5px, #ACA6FF 0px 8px 16px -8px;
}

.card-container{
    width: 27%;
    border-radius: 8px;
    min-height: 13rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
    text-align: center;
    padding: 0 8px;
}

.card-1{
    background-image: linear-gradient(to right, #1C001F , #9500A6);
    box-shadow: #9500A6 0px 13px 27px -5px, #9500A6 0px 8px 16px -8px;
}

.card-2{
    background-image: linear-gradient(to right, #260012 , #940047);
    box-shadow: #940047 0px 13px 27px -5px, #940047 0px 8px 16px -8px;
}

.card-3{
    background-image: linear-gradient(to right, #002119 , #007A5C);
    box-shadow: #007A5C 0px 13px 27px -5px, #007A5C 0px 8px 16px -8px;
}

.card-4{
    background-image: linear-gradient(to right, #140500 , #660007);
    box-shadow: #660007 0px 13px 27px -5px, #660007 0px 8px 16px -8px;
}

.card-5{
    background-image: linear-gradient(to right, #000724 , #00177D);
    box-shadow: #00177D 0px 13px 27px -5px, #00177D 0px 8px 16px -8px;
}

.card-6{
    background-image: linear-gradient(to right, #003E42 , #00C8D6);
    box-shadow: #00C8D6 0px 13px 27px -5px, #00C8D6 0px 8px 16px -8px;
}


/*Desktop*/
@media (min-width : 992px){
    .academymotto-container{
        flex-direction: row;
    }
}


/* Mobile: up to 768px */
@media (max-width: 576px) {
    .academymotto-container{
        flex-direction: column;
    }
    .card-container{
       width: 95%;
    }
}


/* Tablet: 768px to 1024px */
@media (min-width: 768px) and (max-width: 992px) {
    .academymotto-container{
        flex-direction: row;
    }

    .card-container{
        width: 27%;
     }
}